body {
  background: #fafafa;
  color: #333333;
  margin-top: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.card-header{
    background: #ffffff;
    padding: 0.25rem 0.25rem;
}

.card-body{
    border: 1px solid rgba(0,0,0,.125);
    padding: 0rem
}

.card-note{
    padding: 0.25rem 0.25rem;
}

.card{
    border: none;
    margin-left: 20px;
}

.card-btn-link{
    color: #000000;
}

.card-btn-link:hover {
    color: #000000;
}

.card-btn-link:active {
    color: #000000;
}

.project-title{
    margin-bottom: 0px;
}

.about-title{
    margin-bottom: 0px;
}

.project-entry{
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.posts-holder{
    padding: 0px;
    margin: 0px;
}

.profile-info-item{
    border:none;
    padding: .25rem 1rem;
}

.post-view{
    padding-right: 10px;
    max-height: 40vh;
    overflow-y: scroll;
}

.colleagues-view{
    padding-right: 0px;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
