{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <legend class="about-title">About us</legend>
        </div>
        <!-- -->
        <p>
            Employee management turns project progress reporting into a social media experience.
            <br/>
            The aim is to simplify communication between project managers and project participants, while making sure all communication is saved and ready for analysis.
            <br/>
            Additionally it offeres functionality to track project time investmenets. 
        </p>
      </div>
    </article>
    <div class="border-top pt-3">
        <small class="text-muted">
            Do you wish to customize your experience? <a class="ml-2" href="{{ url_for('contact') }}">Contact us</a>
        </small>
    </div>
{% endblock content %}