{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <legend class="about-title">Contact us</legend>
        </div>
        <!-- -->
             <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.message.label(class="form-control-label") }}
                        {% if form.message.errors %}
                            {{ form.message(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.message.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.message(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group text-right">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        <!-- -->
        </div>
    </article>
    <div class="border-top pt-3">
        <small class="text-muted">
            Email: <a href="mailto:peafric@gmail.com">peafric@gmail.com</a>
        </small>
    </div>
{% endblock content %}