{% extends "layout.html" %}
{% block head %}
    <!-- Socket support -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        function generate_post_html(data){
            var article = '<article class="media content-section"><img class="rounded-circle article-img" src="' 
                          + data.image_file+ 
                          '"><div class="media-body"><div class="article-metadata"><a class="mr-2" href="#"> ' 
                          + data.person_name + 
                          '</a><small class="text-muted">' 
                          + data.date + 
                          '</small></div><h2><a class="article-title" href="#">' 
                          + data.project_name + 
                          '</a></h2><p class="article-content">' 
                          + data.content + 
                          '</p>';
            if(data.duration>0){
                article += '<p class="article-content"> <i> Duration: ' + data.duration + ' h </i></p>';
            }   
            article += '</div></article>';
            return article;        
        }    
    </script>
    
    <script>
    
           var last_post_date = '{{ last_post_date }}';
    
           //Had to do this dynamic jquery load because jQuery seems to be overwritten by something
           run_jquery = function(request_to_run) {
                // Load the script
                var script = document.createElement("SCRIPT");
                script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js';
                script.type = 'text/javascript';
                script.onload = request_to_run;
                document.getElementsByTagName("head")[0].appendChild(script);
            };    
            
    
            $(document).ready(function(){
                $("#more-posts-button").click(function(){
                    run_jquery(function() {
                        var $ = window.jQuery;
                        $.post( "get_older_posts", {last_date: last_post_date} ,function( response_data ) {
                            var post_holder  = document.getElementById("posts-holder");
                            if (post_holder){
                                var html = '';
                                for(var i=0; i< response_data.posts.length; i++){
                                    post_data = response_data.posts[i];
                                    html += generate_post_html(post_data);                         
                                }
                                post_holder.innerHTML = post_holder.innerHTML + html;
                            }
                            //
                            last_post_date = response_data.last_post_date;
                            //
                            if(!response_data.more_posts){
                                var load_more_btn = document.getElementById("more-posts-button");
                                if(load_more_btn){
                                    load_more_btn.hidden = true;
                                }
                            }
                        });
                    });
                });
            });  
    </script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>
        var socket = io();
        //
        var global_data;
        socket.on( 'new_post', function( data ) {
          console.log(data);
          global_data = data;
          //
          var post_holder  = document.getElementById("posts-holder");
          if (post_holder){
              var article = generate_post_html(data);
              post_holder.innerHTML = article + post_holder.innerHTML;
          }
           
        })
    </script>
{% endblock head %}

{% block content %}
    <!-- Post form -->
    {% if is_worker %}
    <div class="content-section">
        <form method="POST" action="">
            {{ post_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Notify your manager</legend>
                <div class="form-group">
                    {{ post_form.content.label(class="form-control-label") }}
                    {% if post_form.content.errors %}
                        {{ post_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in post_form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ post_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.project.label(class="form-control-label") }}
                    {% if post_form.project.errors %}
                        {{ post_form.project(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in post_form.project.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ post_form.project(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ post_form.duration.label(class="form-control-label") }}
                    {% if post_form.duration.errors %}
                        {{ post_form.duration(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in post_form.duration.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ post_form.duration(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-right">
                {{ post_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% endif %}
    <!-- Posts -->
    {% if is_manager %}
        <div id="posts-holder" class="posts-holder">
        {% for post in posts %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> 
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{{url_for('people_domain.profile',person_id=post.author.id)}}">{{ post.author.name }}</a>
                  <small class="text-muted">{{ post.date.strftime("%d.%m.%Y %H:%M") }}</small>
                </div>
                <h2><a class="article-title" href="{{url_for('projects_domain.project',project_id=post.project.id)}}">{{ post.project.name }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% if post.duration > 0 %}
                    <p class="article-content"> <i> Duration: {{ post.duration }} h </i></p>
                {% endif%}
              </div>
            </article>
        {% endfor %}
        </div>
        
        {% if more_posts %}
            <button class="btn btn-block btn-outline-info" id="more-posts-button" >Load more posts</button>
            <br/>
        {% endif %}
        
    {% endif %}
{% endblock content %}
