<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% block head %}{% endblock %}

    <!-- Custom title management -->
    {% if title %}
        <title>EM-{{ title }}</title>
    {% endif %}
    
    <!-- block to add charts if needed -->    
    {% block chart %}{% endblock %}
    
    
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand mr-4" href="{{ url_for('home')}}">EM</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {% if current_user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                  </li>
              {% endif %}
            </ul>
          </div>
          <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('people_domain.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('people_domain.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('people_domain.register') }}">Register</a>
              {% endif %}
            </div>          
        </nav>      
    </header>
    
    <main class="container">
      <div class="row">
        <div class="col-md-8" style="padding-top:5rem;">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}        
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
        <div class="sticky-top" style="padding-top:5rem;">
              {% if current_user.is_authenticated %}
                      <div class="content-section">
                        <h3>Administer</h3>
                        <p class="text-muted"> 
                          <ul class="list-group">
                            <li class="list-group-item list-group-item-light"><a href="{{ url_for('people_domain.profile',person_id=current_user.id) }}">Profile - {{ current_user.name }}</a></li>
                            <li class="list-group-item list-group-item-light"><a href="{{ url_for('projects_domain.projects') }}">Projects</a></li>
                          </ul>
                        </p>
                      </div>
                {% endif %}
                  <div class="content-section">
                    <h3>Help</h3>
                    <p class="text-muted"> 
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('about') }}">About us</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('contact') }}">Contact us</a></li>
                      </ul>
                    </p>
                  </div>
            </div>          
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
