{% extends "layout.html" %}
{% block chart %}

  {% if person_projects is defined and day_data is defined %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
              // Load the Visualization API and the corechart package.
              google.charts.load('current', {'packages':['corechart']});
              
              // Set a callback to run when the Google Visualization API is loaded.
              google.charts.setOnLoadCallback(drawCharts);
        
              function drawCharts(){
                      drawWorkerHourContributionsChart();
                      drawWorkerPostContributionsChart();
                      drawHoursPerDayChart();
                      drawPostsPerDayChart()
              }    
        
              function drawWorkerHourContributionsChart() {
        
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Project');
                    data.addColumn('number', 'Hours');
                    data.addRows([
                        {% for project_data in person_projects %}
                              ['{{ project_data[0] }}', {{ project_data[1] }}],
                        {% endfor %}
                    ]);
        
                    // Set chart options
                    var options = {title:'Hours',
                                   'width': '100 vw',
                                   'height': 200};
        
                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('hours_chart_div'));
                    chart.draw(data, options);
              }
    
              function drawWorkerPostContributionsChart() {
        
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Project');
                    data.addColumn('number', 'Posts');
                    data.addRows([
                        {% for project_data in person_projects %}
                              ['{{ project_data[0] }}', {{ project_data[2] }}],
                        {% endfor %}
                    ]);
        
                    // Set chart options
                    var options = {'title': 'Post count',
                                   'width': '100 vw',
                                   'height': 200};
        
                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('posts_chart_div'));
                    chart.draw(data, options);
              }    
              
              function drawHoursPerDayChart(){
                     var data = google.visualization.arrayToDataTable([
                             ['Day', 'Hours', { role: 'style' }],
                             {% for day in day_data %}
                                 [ '{{ day[0] }}', {{ day[1] }}, 'green'],
                             {% endfor %}                         
                      ]);
    
                    var options = {'title': 'Hours per day',
                                   'width': '100 vw',
                                   'height': 250,
                                   'legend': { position: "none" }
                                  };
                                   
                    var chart = new google.visualization.ColumnChart(document.getElementById('hours_bar_chart_div'));
                    chart.draw(data, options);
              
              }
    
              function drawPostsPerDayChart(){
                     var data = google.visualization.arrayToDataTable([
                             ['Day', 'Posts', { role: 'style' }],
                             {% for day in day_data %}
                                 [ '{{ day[0] }}', {{ day[2] }}, 'green'],
                             {% endfor %}                         
                      ]);
    
                    var options = {'title': 'Posts per day',
                                   'width': '100 vw',
                                   'height': 250,
                                   'legend': { position: "none" }
                                  };
                                   
                    var chart = new google.visualization.ColumnChart(document.getElementById('posts_bar_chart_div'));
                    chart.draw(data, options);
              }    
          </script>
  {% endif %}

{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-2">
                <img class="rounded-circle account-img" src="{{ image_file }}">
            </div>
            <div class="col-10">            
                {% if current_user.id == user.id %}
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Your profile information</legend>
                                <div class="form-group">
                                    {{ form.name.label(class="form-control-label") }}
                                    {% if form.name.errors %}
                                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.name(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>                
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.picture.label() }}
                                    {{ form.picture(class="form-control-file") }}
                                    {% if form.picture.errors %}
                                        {% for error in form.picture.errors %}
                                            <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                    {% endif %}
                                </div>                                
                            </fieldset>
                            <div class="form-group text-right">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </form>
                {% else %}
                        <legend class="border-bottom mb-4">Profile information</legend>
                        <ul class="list-group">
                          <li class="list-group-item profile-info-item">Name: {{user.name}}</li>
                          <li class="list-group-item profile-info-item">Email: <a href="mailto:{{user.email}}">{{user.email}}</a></li>
                        </ul>            
                {% endif %}
            </div>    
        </div>    
    </div>    
    <!-- -->
  {% if person_projects is defined and day_data is defined %}
        <div class="content-section">
            <legend class="border-bottom mb-4">Worker contribution</legend>
            <div class="row">
                <div class="col-6">
                    <div id="hours_chart_div"></div>
                </div>
                <div class="col-6">
                    <div id="posts_chart_div"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="hours_bar_chart_div"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="posts_bar_chart_div"></div>
                </div>
            </div>
        </div>        
    {% endif %}
    <!--  Colleagues -->
  {% if colleagues is defined%}
    <div class="content-section">
        <legend class="border-bottom mb-4">Colleagues</legend>
        <div  class="list-group colleagues-view">
            <div class="row">
                {% for person in colleagues%}
                  <div class="col-2">
                    <div class="thumbnail">
                      <a href="{{ url_for('people_domain.profile',person_id=person.id) }}">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + person.image_file) }}" alt="Lights">
                        <div class="caption">
                          <p>{{ person.name }}</p>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor%}
            </div>
        </div>        
    </div>        
    {% endif %}
    <!-- Posts -->
    <div  class="list-group post-view">
        {% for post in posts%}
            <article class="media content-section">
              <div class="media-body">
                    <!-- Post content -->
                    <div class="article-metadata">
                      <a class="mr-2" href="{{ url_for('people_domain.profile',person_id=post.author.id) }}">{{ post.author.name }}</a>
                      <small class="text-muted">{{ post.date.strftime("%d.%m.%Y %H:%M") }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ post.project.name }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                    {% if post.duration > 0 %}
                        <p class="article-content"> <i> Duration: {{ post.duration }} h </i></p>
                    {% endif%}
                    <!-- -->
                    {% if current_user.id == user.id %}
                    <br/>
                    <!-- Post actions -->          
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-2">
                            <form method="GET" action="edit_post">
                                <div class="form-group text-right">
                                    <input name="post_id" type="hidden" value={{post.id}}>                
                                    <input class="btn btn-block btn-outline-warning" type="submit" value="Edit">
                                </div>
                            </form>
                        </div>
                        <div class="col-2">
                            <form method="POST" action="delete_post">
                                <div class="form-group text-right">
                                    <input name="post_id" type="hidden" value={{post.id}}>                
                                    <input class="btn btn-block btn-outline-danger" id="delete" name="delete" type="submit" value="Delete">
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif%}
              </div>
            </article>        
        {% endfor %}
    </div>    
{% endblock content %}
