{% extends "layout.html" %}

{% block chart %}

  {% if day_data is defined %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
        <script>
              // Load the Visualization API and the corechart package.
              google.charts.load('current', {'packages':['corechart']});
              
              // Set a callback to run when the Google Visualization API is loaded.
              google.charts.setOnLoadCallback(drawCharts);
        
              function drawCharts(){
                  drawProjectHourContributionsChart();
                  drawProjectPostContributionsChart();
                  drawHoursPerDayChart();
                  drawPostsPerDayChart()
              }    
        
              function drawProjectHourContributionsChart() {
        
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Worker');
                    data.addColumn('number', 'Hours');
                    data.addRows([
                        {% for person in project.personnel %}
                             {% if person.total_hours %}
                                  ['{{ person.person.name }}', {{ person.total_hours }}],
                             {%  endif %}
                        {% endfor %}
                    ]);
        
                    // Set chart options
                    var options = {title:'Hours',
                                   'width': '100 vw',
                                   'height': 200};
        
                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('hours_chart_div'));
                    chart.draw(data, options);
              }
    
              function drawProjectPostContributionsChart() {
        
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Worker');
                    data.addColumn('number', 'Posts');
                    data.addRows([
                        {% for person in project.personnel %}
                             {% if person.total_posts %}
                                  ['{{ person.person.name }}', {{ person.total_posts }}],
                             {% endif %}
                        {% endfor %}
                    ]);
        
                    // Set chart options
                    var options = {'title': 'Post count',
                                   'width': '100 vw',
                                   'height': 200};
        
                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('posts_chart_div'));
                    chart.draw(data, options);
              }    
              
              function drawHoursPerDayChart(){
                     var data = google.visualization.arrayToDataTable([
                             ['Day', 'Hours', { role: 'style' }],
                             {% for day in day_data %}
                                 [ '{{ day[0] }}', {{ day[1] }}, 'green'],
                             {% endfor %}                         
                      ]);
    
                    var options = {'title': 'Hours per day',
                                   'width': '100 vw',
                                   'height': 250,
                                   'legend': { position: "none" }
                                  };
                                   
                    var chart = new google.visualization.ColumnChart(document.getElementById('hours_bar_chart_div'));
                    chart.draw(data, options);
              
              }
    
              function drawPostsPerDayChart(){
                     var data = google.visualization.arrayToDataTable([
                             ['Day', 'Posts', { role: 'style' }],
                             {% for day in day_data %}
                                 [ '{{ day[0] }}', {{ day[2] }}, 'green'],
                             {% endfor %}                         
                      ]);
    
                    var options = {'title': 'Posts per day',
                                   'width': '100 vw',
                                   'height': 250,
                                   'legend': { position: "none" }
                                  };
                                   
                    var chart = new google.visualization.ColumnChart(document.getElementById('posts_bar_chart_div'));
                    chart.draw(data, options);
              }    
              
          </script>
    {% endif %}
{% endblock %}

{% block content %}
        <div class="content-section">
            <legend class="border-bottom mb-4">{{project.name}}</legend>
            <!-- -->
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                    <form method="POST" action="generate_project_report">
                        <div class="form-group text-right">
                            <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                            <input class="btn btn-block btn-outline-info" id="report" name="report" type="submit" value="Report">
                        </div>
                    </form>
                </div>
            </div>            
            <!-- -->
        </div>        
        <!-- -->
      {% if day_data is defined %}
            <div class="content-section">
                <legend class="border-bottom mb-4">Worker contribution</legend>
                <div class="row">
                    <div class="col-6">
                        <div id="hours_chart_div"></div>
                    </div>
                    <div class="col-6">
                        <div id="posts_chart_div"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="hours_bar_chart_div"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="posts_bar_chart_div"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- -->
        <div  class="list-group post-view">
            {% for post in posts %}
                <article class="media content-section">
                  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> 
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="{{url_for('people_domain.profile',person_id=post.author.id)}}">{{ post.author.name }}</a>
                      <small class="text-muted">{{ post.date.strftime("%d.%m.%Y %H:%M") }}</small>
                    </div>
                    <h2><a class="article-title" href="{{url_for('projects_domain.project',project_id=post.project.id)}}">{{ post.project.name }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                    {% if post.duration > 0 %}
                        <p class="article-content"> <i> Duration: {{ post.duration }} h </i></p>
                    {% endif%}
                  </div>
                </article>
            {% endfor %}
        </div>
        <!-- -->
        
{% endblock content %}
