{% extends "layout.html" %}
{% block content %}
    <!-- List of existing projects -->
    {% for project in projects %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <legend class="project-title"><a class="article-title" href="{{url_for('projects_domain.project',project_id=project.id)}}">{{ project.name }}</a></legend>
            </div>
            <!-- -->
            <div class="accordion">
              <div class="card">
                <div class="card-header" id="headingOne_{{project.name}}">
                    <button class="btn btn-link card-btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_{{project.name}}" aria-controls="collapseOne_{{project.name}}">
                      <b>Managers</b>
                    </button>
                </div>            
                <div id="collapseOne_{{project.name}}" class="collapse" aria-labelledby="headingOne_{{project.name}}">
                  <div class="card-body">
                    {% for person in project.personnel %}
                        {% if person.role.name == 'manager' %}
                            <div class="project-entry">
                                <form method="POST" action="remove_manager_from_project">
                                    <div class="row">
                                        <div class="col-10">
                                            {{ person.person.name }}
                                        </div>
                                        <div class="col-2">
                                            <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                                            <input id="person_id" name="person_id" type="hidden" value={{person.person.id}}>                
                                            <input class="btn btn-block btn-outline-danger" id="remove_manager_project" name="remove_manager_project" type="submit" value="Remove">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if project.managers is defined %}
                    <div class="project-entry">
                        <form method="POST" action="add_manager_to_project">
                            <div class="row">
                                <div class="col-10">
                                    <select class="form-control" id="manager_id" name="manager_id" required="">
                                            {% for person in project.managers %}
                                                <option value={{person.id}}>{{person.name}}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="col-2">
                                    <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                                    <input class="btn btn-block btn-outline-info" id="add_manager_project" name="add_manager_project" type="submit" value="Add">
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo_{{project.name}}">
                    <button class="btn btn-link card-btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo_{{project.name}}" aria-expanded="false" aria-controls="collapseTwo_{{project.name}}">
                      <b>Workers</b>
                    </button>
                </div>
                <div id="collapseTwo_{{project.name}}" class="collapse" aria-labelledby="headingTwo_{{project.name}}">
                  <div class="card-body">
                    {% for person in project.personnel %}
                        {% if person.role.name == 'worker' %}
                            <div class="project-entry">
                                <form method="POST" action="remove_worker_from_project">
                                    <div class="row">
                                        <div class="col-10">
                                            {{ person.person.name }}
                                        </div>
                                        <div class="col-2">
                                            <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                                            <input id="person_id" name="person_id" type="hidden" value={{person.person.id}}>                
                                            <input class="btn btn-block btn-outline-danger" id="remove_worker_project" name="remove_worker_project" type="submit" value="Remove">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if project.people is defined %}
                    <div class="project-entry">
                        <form method="POST" action="add_worker_to_project">
                            <div class="row">
                                <div class="col-10">
                                    <select class="form-control" id="employee_id" name="employee_id" required="">
                                            {% for person in project.people %}
                                                <option value={{person.id}}>{{person.name}}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="col-2">
                                    <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                                    <input class="btn btn-block btn-outline-info" id="add_worker_project" name="add_worker_project" type="submit" value="Add">
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card">
                  <div class="card-note">
                    <b>Invested time:</b> {{project.time}} h
                </div>
              </div>
            </div>            
            <!-- -->        
            <br/>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-2">
                    <form method="GET" action="edit_project">
                        <div class="form-group text-right">
                            <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                            <input class="btn btn-block btn-outline-warning" type="submit" value="Edit">
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <form method="POST" action="delete_project">
                        <div class="form-group text-right">
                            <input id="project_id" name="project_id" type="hidden" value={{project.id}}>                
                            <input class="btn btn-block btn-outline-danger" id="delete" name="delete" type="submit" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </article>
    {% endfor %}
    
    <!-- Project administration options -->
    <div class="content-section">
        <form method="POST" action="">
            {{ create_project_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create new project</legend>
                <div class="form-group">
                    {{ create_project_form.name.label(class="form-control-label") }}
                    {% if create_project_form.name.errors %}
                        {{ create_project_form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in create_project_form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ create_project_form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-right">
                {{ create_project_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
        
        
{% endblock content %}
